#color-palette {
  display:flex;
}

.linhas {
  display:flex;
}

#red {
  background-color:red;
  border: solid black 1px;
  width: 70px;
  height: 70px;
}

#green {
  background-color:green;
  border: solid black 1px;
  width: 70px;
  height: 70px;
}

#blue {
  background-color: blue;
  border: solid black 1px;
  width: 70px;
  height: 70px;
}

#black {
  background-color: black;
  border: solid black 1px;
  width: 70px;
  height: 70px;
}

.pixel {
  background-color: white;
  border: solid black 1px;
  width: 70px;
  height: 70px;
}