* {
  font-family: 'Silkscreen', cursive;
}

body {
  background-image: url('fundo4.jpg');
  background-size: 600px
}

button {
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  padding: 2px;
  border: solid #000 2px ;
  margin-left: 8px;
  text-decoration: none;
}

.title {
  font-family: 'Silkscreen', cursive;
  background-color: #FFF;
  padding: 1rem;
  border: solid #000 3px ;
}

#pixel-board, .color-palette{
  border: solid #000 2px ;
}

#pixel-board {
  margin-top: 10px;
}

.app {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.fundo-container {
  background-color: aquamarine;
  width: 80%;
}

.color-palette {
  display:flex;
  margin-bottom: 10px;
}

.linhas {
  display:flex;
}

.color {
  border: solid black 1px;
  width: 55px;
  height: 55px;
}

.pixel {
  background-color: white;
  border: solid black 1px;
  width: 40px;
  height: 40px;
}

.color:hover {
  box-shadow: inset 0px 0px 0px 2px rgb(9, 255, 0);
}

#yellow {
  background-color:yellow;
}

#red {
  background-color:red;
}

#blue {
  background-color: blue;
}

#black {
  background-color: black;
}

#white {
  background-color: white;
}

@media all and (max-width: 430px) {
  .buttons-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}